---
---

html[data-theme="light"] {
	--construction-banner: url("../images/mountain.jpg");
}

html[data-theme="dark"] {
    --construction-banner: url("../images/nightSky.jpg");
}

#construction {
	background: var(--construction-banner);
    background-size: 100% 700px;
    transition: 5s;
}
