---
---

html[data-theme="light"] {
	--nav-color: black;
}

html[data-theme="dark"] {
	--nav-color: white;
}

@media (min-width: 767px) {
    #navbar {
		padding-left: 15%;
		padding-right: 15%;
	}
}

.navbar-brand {
	color: var(--nav-color);
}

.nav-link {
	color: var(--nav-color);
}